
.leftside-wrapper-head {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 1;
  color: #1e293b;
  letter-spacing: -0.4px;
  padding: 35px 40px ;
}
 .settingsMenu-header{
  flex-basis: 50px;
}

.settingsMenu-body{
  flex-basis: calc(100% - 50px);
    text-align: left;
}
.settingsMenu-button {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  border: none;
  padding: 20px 40px;
  border-top: 1px solid #e2e8f0;
  &:hover {
    background-color: #f1f5f9;
  }
}
.settingsMenu-mainIcon {
  width: 24px;

}
.settingsMenu-title {
  font-family: "Inter", sans-serif;
  line-height: 24px;
  font-weight: 500;
  font-size: 14px;
  color: #1e293b;
}
.settingsMenu-button.active .settingsMenu-title{
color: #4f46e5;
}

.settingsMenu-subTitle {
  font-family: "Inter", sans-serif;
  line-height: inherit;
  font-size: 14px;
  color: #64748b;

}
