.leftside-wrapper,
.rightside-wrapper {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

// @media screen and (min-width:{

// }

.leftside-wrapper {
  background-color: #ffffff;
}

.rightside-wrapper {
  background-color: #f1f5f9;
}
