.packageFinance-wrapper {
  background-color: #f1f5f9;
  display: flex;
  flex-direction: column;
}

.packageFinance-wrapper-header {
  padding-left: 33px;
  padding-top: 33px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.packageFinance-wrapper-title {
  color: #1e293b;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.packageFinance-wrapper-subtitle {
  color: #94a3b8;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.packageFinance-wrapper-buttons {
  padding-right: 22px;
}

.packageFinance-wrapper-button {
  background-color: #f1f5f9;
  color: #1e293b;
  border: #ccd1d8 solid 1px;
  padding: 8px 18px;
  margin-right: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  border-radius: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.is-third {
  background-color: #4f46e5;
  color: white;
}
.is-third:hover {
  background-color: #433cbf;
}

button:hover {
  background-color: #dbe1eb;
}

.packageFinance-wrapper-icon {
  padding-right: 10px;
  color: #64748b;
}

.packageFinance-icon {
  padding-right: 10px;
  color: #ffffff;
}

.packageFinance-wrapper-threeDots {
  border: none;
  background-color: #fff;
}

.packageFinance-threeDots {
  color: #64748b;
}

.packageFinance-head {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 8px;
}

.packageFinance-title {
  font-size: 16px;
}

.packageFinance-subTitle {
  font-size: 12px;
}

.packageFinance-subTitle-large {
  font-size: 14px;
  color: #64749a;
}

.threeDots {
  background-color: #fff;
  border: none;
  color: #64748b;
  font-size: 14px;
  border-radius: 50px;
  height: 40px;
  width: 40px;
}
.threeDots:hover {
  background-color: #eaedf1;
}

.months {
  background-color: #f1f5f9;
  border: none;
  color: #64748b;
  border-radius: 20px;
  font-size: 14px;
  margin-right: 20px;
}
.months:hover {
  background-color: #e0e4ea;
}

.packageFinance-body-desc {
  margin-right: 35px;
}

.is-line {
  background: #fff url("../images/line.svg") no-repeat calc(100% + 20px) calc(100% + 22px)/96px;
}

.packageFinance {
  padding: 5px;
  border-radius: 20px;
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  padding-left: 26px;
  padding-top: 17px;
}
.packageFinance.is-current {
  background: #fff url("../images/true.svg") no-repeat calc(100% + 20px) calc(100% + 22px)/96px;
}
.packageFinance.is-current .packageFinance-subTitle {
  color: #61a44a;
}
.packageFinance.is-previous {
  background: #fff url("../images/error.svg") no-repeat calc(100% + 20px) calc(100% + 22px)/96px;
}
.packageFinance.is-previous .packageFinance-subTitle {
  color: #de2626;
}
.packageFinance-subTitle {
  margin-bottom: 30px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #64749a;
}
.packageFinance-body {
  display: flex;
  flex-wrap: wrap;
}
.packageFinance-desc {
  flex: 0 0 33.3333333333%;
}
.packageFinance-label {
  font-size: 12px;
  font-weight: 500;
  color: #64749a;
}
.packageFinance-value {
  color: #1e293b;
  font-size: 24px;
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */